language: php

php:
    - 7.0
    - 7.1
    - 7.2

matrix:
    fast_finish: true

cache:
    directories:
        - $HOME/.composer/cache

before_install:
    - travis_retry composer self-update

install:
    - travis_retry composer install --no-interaction --prefer-dist

script:
    - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover

after_success:
    - wget https://scrutinizer-ci.com/ocular.phar; fi
    - php ocular.phar code-coverage:upload --format=php-clover coverage.clover; fi
