parameters:
    level: 6
    treatPhpDocTypesAsCertain: false
    paths:
        - src
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
